
<div class="ideal-bg">
  <div class="ideal-section base-container">
    <h2>Te Apoyo es ideal para...</h2>
    <div class="ideal-box">
      <div class="ideal-item">
        <span>01</span>
        <p>Aquellos que apuntan a construir una empresa saludable</p>
      </div>
      <div class="ideal-item">
        <span>02</span>
        <p>Los líderes que quieren mantener a sus colaboradores motivados</p>
      </div>
      <div class="ideal-item">
        <span>03</span>
        <p>Equipos que desean lograr un balance de productividad saludable y en incremento</p>
      </div>
      <div class="ideal-item">
        <span>04</span>
        <p>Empresas que desean mantener el mejor talento y perfeccionar resultados</p>
      </div>
    </div>
  </div>
</div>

<div class="corporate-wellbeing-section base-container">
  <div class="corporate-wellbeing-text">
    <h2 data-aos="fade-up" data-aos-duration="1500">El wellbeing corporativo te permite priorizar el bienestar integral de tus colaboradores</h2>
  <p>En Te Apoyo, nos interesa que conozcas cómo el bienestar corporativo puede impulsar el éxito de tu empresa, por eso queremos compartir contigo nuestras cifras comprobadas</p>
  </div>
  <div class="corporate-wellbeing-box">
    <div class="corporate-wellbeing-item" data-aos="fade-up" data-aos-duration="1500">
      <img src="assets/images/business/estadistica-90.svg" alt="">
      <h4>Felicidad</h4>
    </div>
    <div class="corporate-wellbeing-item" data-aos="fade-up" data-aos-duration="1500">
      <img src="assets/images/business/estadistica-70.svg" alt="">
      <h4>Estrés laboral</h4>
    </div>
    <div class="corporate-wellbeing-item" data-aos="fade-down" data-aos-duration="1500">
      <img src="assets/images/business/estadistica-87.svg" alt="">
      <h4>Productividad</h4>
    </div>
    <div class="corporate-wellbeing-item" data-aos="fade-down" data-aos-duration="1500">
      <img src="assets/images/business/estadistica-22.svg" alt="">
      <h4>Ingresos</h4>
    </div>
  </div>
</div>

<div class="financial-health-bg">
  <div class="base-container financial-health-section">
    <h2>La salud financiera es la base elemental dentro de la cultura Te Apoyo </h2>
    <p>En Te Apoyo, creemos que la salud financiera es esencial para el bienestar de tus colaboradores y para el éxito de tu empresa. Es por eso que hemos diseñado una metodología basada en cuatro pilares fundamentales mediante la educación financiera, herramientas intuitivas, reportes personalizados y cursos especializados.
    Con estas soluciones, tu equipo podrá mejorar su bienestar financiero y aumentar su productividad en el trabajo.</p>
    <div class="financial-health-box">
      <div class="financial-health-item">
        <img src="assets/images/business/seguridad-icon.svg" alt="">
        <h4>Seguridad</h4>
        <p>Anualmente invertimos más de 1 billón (USD) en protección de datos, por lo que toda información ingresada es 100% encriptada.</p>
      </div>
      <div class="financial-health-item">
        <img src="assets/images/business/transparencia-icon.svg" alt="">
        <h4>Transparencia</h4>
        <p>Nos comprometemos a brindarte información clara y detallada sobre nuestros servicios y productos para que puedas tomar decisiones informadas.</p>
      </div>
      <div class="financial-health-item">
        <img src="assets/images/business/honestidad.svg" alt="">
        <h4>Honestidad</h4>
        <p>Actuamos con integridad en todas nuestras interacciones, brindándote soluciones financieras éticas y sostenibles.</p>
      </div>
      <div class="financial-health-item">
        <img src="assets/images/business/independencia.svg" alt="">
        <h4>Independencia</h4>
        <p>Te Apoyo no promueve el endeudamiento en ninguna de sus formas. Nuestro enfoque está en brindar recursos personalizados y objetivos.</p>
      </div>
    </div>
  </div>
</div>

<div class="wellbeing-bg">
  <div class="base-container wellbeing-container">
    <div>
      <img src="assets/images/business/beneficios-wellbeing.svg" alt="" data-aos="fade-left" data-aos-duration="1500">
    </div>
    <div class="wellbeing-content base-container">
      <h2 data-aos="fade-up" data-aos-duration="1500">Descubre los beneficios de impulsar el wellbeing corpoativo de tu empresa</h2>
      <ul>
        <li>
          <img src="assets/images/business/list-symbol.svg" alt="">
          Reducción de absentismo laboral
        </li>
        <li>
          <img src="assets/images/business/list-symbol.svg" alt="">
          Fortalecimiento de reputación empresarial
        </li>
        <li>
          <img src="assets/images/business/list-symbol.svg" alt="">
          Retención de talento
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="decorator-container">
  <div class="main-platform-section base-container">
    <div class="platform-box">
      <div class="platform-item">
        <div class="platform-item-text">
          <h2>Somos la plataforma que redefine el concepto de finanzas</h2>
          <p>En Te Apoyo, ofrecemos una plataforma innovadora, intuitiva y fácil de usar que va más allá de la simple gestión financiera. Con nuestras soluciones de aprendizaje, herramientas intuitivas y reportes personalizados, ayudamos a tu equipo a alcanzar su bienestar financiero y a impulsar el éxito de tu empresa. </p>
        </div>
        <img src="assets/images/business/plataforma.svg" alt="Somos la plataforma que redefine el concepto de finanzas" data-aos="fade-right" data-aos-duration="1500">
      </div>
      <div class="platform-item">
        <div class="platform-item-text">
          <h2>Dashboard y contenidos para cada necesidad</h2>
          <p>Entendemos que cada persona y empresa tiene necesidades financieras únicas. Por eso, te ofrecemos las herramientas que necesitas para tomar decisiones informadas y alcanzar tus metas financieras.
          Contamos con features como registro de presupuestos mensuales, seguimiento de metas y cálculo de deuda.
          ¡Nuestra plataforma se adapta a tus necesidades para lograr una salud financiera duradera! </p>
        </div>
        <img src="assets/images/business/dashboard-contenido.svg" alt="Dashboard y contenidos para cada necesidad" data-aos="fade-left" data-aos-duration="1500">
      </div>
      <div class="platform-item">
        <div class="platform-item-text">
          <h2>Reportes de seguimiento para que puedas velar por tu equipo</h2>
          <p>Sabemos lo importante que es para ti velar por el bienestar financiero de tus colaboradores. Por eso, nuestra plataforma te ofrece reportes de seguimiento personalizados que te permiten monitorear y evaluar el progreso de tu equipo. Con esta información, podrás tomar decisiones informadas y ajustar tu estrategia para alcanzar tus objetivos financieros y mejorar la salud financiera de tu empresa.</p>
        </div>
        <img src="assets/images/business/dashboard-reporte.svg" alt="Reportes de seguimiento para que puedas velar por tu equipo" data-aos="fade-right" data-aos-duration="1500">
      </div>
    </div>
  </div>
  <div class="decorator">
    <img src="assets/images/business/bg.svg" alt="">
  </div>
</div>
