<div class="topbar-fixed">
  <header class="topbar-container base-container">
    <div>
      <a routerLink="/" class="logo">
        <img src="assets/images/logo-1.png" alt="Logo 'Te Apoyo' finanzas personales">
        <img src="assets/images/logo-2.png" alt="Logo 'Te Apoyo' finanzas personales">
      </a>
    </div>
    <div class="{{!isOpenMenu ? 'menu-container' : 'menu-container menu-open'}}">
      <ul class="menu-list">
        <li class="menu-list-item">
          <a routerLink="/">Inicio</a>
        </li>
        <li class="menu-list-item">
          <a routerLink="/nosotros">Nosotros</a>
        </li>
        <li class="menu-list-item">
          <a routerLink="/personal">Personal</a>
        </li>
        <li class="menu-list-item">
          <a routerLink="/empresarial">Empresarial</a>
        </li>
        <li class="menu-list-item">
          <a routerLink="/planes">Planes</a>
        </li>
        <li class="menu-list-item">
          <a routerLink="/recursos">Recursos</a>
        </li>
      </ul>
      <div>
        <app-button [textButton]="'Acceso a plataforma'"></app-button>
      </div>
    </div>
    <div class="btn-topbar-box" (click)="open()">
        <span class="{{!isOpenMenu ? 'btn-topbar': 'btn-topbar btn-topbar-open'}}"></span>
    </div>
  </header>
</div>
