<div class="top-section">
  
  <div class="top-section-info">
    <h1 data-aos="fade-up" data-aos-duration="1500">De dónde <span class="top-section-info-title-gradient">venimos</span> <br> y a dónde <span class="top-section-info-title-gradient">vamos</span></h1>

    <div class="top-section-info-p">
      <p>Nuestro proyecto nació en febrero del 2022 en la <br>
        incubadora Kalpa Antofagasta, con la idea de crear una <br>
        plataforma para entregar herramientas financieras a <br>
        las personas y compartir educación financiera.</p>
    
        <p>Nuestros  fundadores, Karina Marey y Mauricio Torres, <br>
        se inspiraron a través de su  experiencia en banca, <br>
        donde notaron la falta de conocimiento, asesoría y <br>
        empatía del sistema financiero con los clientes.</p>
    </div>
  </div>
  <div class="top-section-images">
    <img src="assets/images/about-us/about-us-person-1.png" alt="" data-aos="fade-right" data-aos-duration="1500">
    <img src="assets/images/about-us/about-us-person-2.png" alt="" data-aos="fade-left" data-aos-duration="1500">
    <img src="assets/images/about-us/about-us-person-3.png" alt="" data-aos="fade-right" data-aos-duration="1500">
    <img src="assets/images/about-us/about-us-person-4.png" alt="" data-aos="fade-left" data-aos-duration="1500">
    <img src="assets/images/about-us/about-us-person-5.png" alt="" data-aos="fade-right" data-aos-duration="1500">
    <img src="assets/images/about-us/about-us-person-6.png" alt="" data-aos="fade-left" data-aos-duration="1500">
  </div>
</div>