<div class="pricing-hero-container base-container">
  <h1>Te apoyamos a elegir el 
  <span class="title-gradient" data-aos="fade-down" data-aos-duration="1500">plan más adecuado</span></h1>
  <img src="assets/images/pricing/hero.svg" alt="" data-aos="fade-right" data-aos-duration="1500">
</div>

<div class="planes-bg">
  <div class="planes-container base-container">
    <div class="planes-item">
      <div class="planes-content">
        <div>
          <h3>Gratuito</h3>
          <img src="assets/images/personal/iconoir_donate.svg" alt="">
        </div>
        <ul>
          <li>✓ Acceso a nuestro recursos.</li>
          <li>✓ Acceso a nuestra plataforma digital.</li>
          <li>✓ Acceso a 1 curso de nuestra Aula virtual</li>
        </ul>
      </div>
      <a href="" class="btn-planes">
        <span>Prueba gratis</span>
      </a>
    </div>
    <div class="planes-item">
      <div class="planes-content">
        <div>
          <h3>Empresarial</h3>
          <img src="assets/images/personal/bi_stars.svg" alt="">
        </div>
        <ul>
          <li>✓ Acceso ilimitado a nuestros recursos.</li>
          <li>✓ Acceso a nuestra plataforma digital.</li>
          <li>✓ Acceso a nuestra Aula virtual.</li>
          <li>✓ Acceso a nuestro chatbot Luca$.</li>
          <li>✓ Reportes personalizados mensuales por equipo.</li>
        </ul>
      </div>
      <a href="" class="btn-planes">
        <span>Solicita una demo</span>
      </a>
    </div>
    <div class="planes-item">
      <div class="planes-content">
        <h3>Individual</h3>
        <div class="planes-item-price">
          <img src="assets/images/personal/iconoir_user-star.svg" alt="">
          <p><span>$4.990</span>/ al mes</p>
        </div>
        <ul>
          <li>✓ Acceso ilimitado a nuestros a recursos.</li>
          <li>✓ Acceso a nuestra plataforma digital.</li>
          <li>✓ Acceso a nuestra Aula virtual.</li>
          <li>✓ Acceso a nuestra chat bot Luca$.</li>
          <li>✓ Evaluación perfil  financiero.</li>
        </ul>
      </div>
      <a href="" class="btn-planes">
        <span>Prueba gratis</span>
      </a>
    </div>
  </div>
</div>

<div class="pricing-table">
  <h2>Tabla comparativa de planes</h2>
  <table>
    <tr>
      <th></th>
      <th>
        <span>
          Gratuito
        </span>
      </th>
      <th>
        <span>
          Individual
        </span>
      </th>
      <th>
        <span>
          Empresarial
        </span>
      </th>
    </tr>
    <tr>
      <td>Prueba Gratis</td>
      <td>✓</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Acesso a blog</td>
      <td>Limitado</td>
      <td>✓</td>
      <td>✓</td>
    </tr>
    <tr>
      <td>Plataforma digital</td>
      <td>Mes de prueba</td>
      <td>✓</td>
      <td>✓</td>
    </tr>
    <tr>
      <td>Aula Virtual</td>
      <td>1</td>
      <td>✓</td>
      <td>✓</td>
    </tr>
    <tr>
      <td>Asesoría con Luca$</td>
      <td>Mes de prueba</td>
      <td>✓</td>
      <td>✓</td>
    </tr>
    <tr>
      <td>Evaluación perfil financiero</td>
      <td>✓</td>
      <td>✓</td>
      <td>✓</td>
    </tr>
    <tr>
      <td>Reporte por equipo</td>
      <td>-</td>
      <td>-</td>
      <td>✓</td>
    </tr>
  </table>
  <p class="pricing-footer-p">¿Dudas? ¡Escríbenos!</p>
  <a href="" class="btn-pricing">
    <span>Contactar</span>
  </a>
</div>