<div class="contact-section-center">
  <div class="contact-section">
    <div class="contact-info" data-aos="fade-left" data-aos-duration="1500">
      <h1>Contáctanos</h1>
      <p>Cuéntanos en qué podemos ayudarte y forma parte de nuestra red de colaboradores que cuidan de su educación financiera para su familia o empresa.</p>
      <img src="assets/images/about-us/about-us-contact.svg" alt="" data-aos="fade-right" data-aos-duration="1500">
    </div>
    <app-contact-form></app-contact-form>
  </div>
</div>