<section class="banner-section">
  <div class="base-container">
    <div class="info-banner-box">
      <h1 class="info-banner-title" data-aos="fade-up" data-aos-duration="1500">El <span class="info-banner-title-gradient-a">éxito </span> <span class="info-banner-title-gradient-b">financiero</span><br>es posible para todos</h1>
      <p>En Te Apoyo te ofrecemos una plataforma completa
        en donde podrás llevar tus finanzas personales de la mejor
        manera</p>
      <div class="btn-group">
        <a routerLink="/planes" class="btn-planes">Ver planes</a>
        <a routerLink="/test" class="btn-test">Hacer test</a>
      </div>
    </div>
  </div>
  <div class="home-banner-images" data-aos="fade-left" data-aos-duration="1500">
    <img src="assets/images/home/home-banner-capture.svg" alt="" class="home-banner-images-capture">
    <img src="assets/images/home/home-banner-dashboard.svg" alt="" class="home-banner-images-dashboard">
  </div>
</section>

<div class="steps-section">
  <h2>!Alcanza el exito corporativo!</h2>
  <div class="steps-progress"></div>
  <div class="steps-box">
    <div class="step-item">
      <div class="step-indicator">
        <span>01</span>
        <img src="assets/images/home/idea-bank.svg" alt="">
      </div>
      <p>Motíva a tu empleados a mejorar
        su situación financiera  </p>
    </div>
    <div class="step-item">
      <div class="step-indicator">
        <span>02</span>
        <img src="assets/images/home/disappointed.svg" alt="">
      </div>
      <p>Combate
        el estres financiero</p>
    </div>
    <div class="step-item">
      <div class="step-indicator">
        <span>03</span>
        <img src="assets/images/home/warranty.svg" alt="">
      </div>
      <p>Aumenta la productividad</p>
    </div>
  </div>
</div>

<section class="financial-insights-section">
  <div class="base-container">
    <h1 data-aos="fade-up" data-aos-duration="3000">Las cifras del <span class="financial-insights-title-gradient">estrés financiero</span></h1>
    <div class="financial-insights-box">
      <div class="financial-insights-item" data-aos="fade-down" data-aos-duration="1500">
        <h3 class="financial-insights-item-gradient-50">60%</h3>
        <p>
          Aumento en el riesgo de sufrir
          enfermedades físicas:
          cardíacas, ACV, hipertensión.
          <br><br>
          (Ohio University)
        </p>
      </div>
      <div class="financial-insights-item" data-aos="fade-down" data-aos-duration="1500">
        <h3 class="financial-insights-item-gradient-22">70%</h3>
        <p>
          Sufrir trastornos mentales 
          como ansiedad, depresión y 
          trastornos del sueño.
          <br><br>
          (Cambridge University)
        </p>
      </div>
      <div class="financial-insights-item" data-aos="fade-down" data-aos-duration="1500">
        <h3 class="financial-insights-item-gradient-50">35%</h3>
        <p>
          Riesgo de sufrir problemas de 
          relaciones con la pareja y la 
          familia
          <br><br>
          (Arizona University)
        </p>
      </div>
      <div class="financial-insights-item" data-aos="fade-down" data-aos-duration="1500">
        <h3 class="financial-insights-item-gradient-22">90%</h3>
        <p>
          De laspersonas que se han 
          enfrentado a retos relacionados 
          a sus finanzas personales y un 
          64% afirma que ha afectado
          negativamente su vida laboral/
          profesional.
          <br><br>
          (Morgan Stanley)
        </p>
      </div>
    </div>
  </div>
</section>