<div class="base-container">
  <section class="service-offer-section">
    <div>
      <h1 data-aos="fade-right" data-aos-duration="1500">¿Qué ofrecemos?</h1>
      <p>
        Somos <em>expertos en educación financiera</em> y estamos preparados para ayudarte a lograr tus objetivos
        para mejorar tu calidad de vida. Te ofrecemos nuestra <em>plataforma, orientación y educación</em> para que
        logres obtener el <em>control de tus finanzas</em>.
      </p>
    </div>
    <div class="service-offer-box">
      <figure data-aos="fade-right" data-aos-duration="1500">
        <img class="img-solo-lugar" src="assets/images/home/te-apoyo-finanzas-todo-en-un-solo-lugar.svg" alt="'Te apoyo finanzas' ofrece una plataforma de gestión completa">
      </figure>
      <div class="service-offer-item item-solo-lugar" data-aos="fade-left" data-aos-duration="1500">
        <div>
          <h2 class="service-offer-item-title-40">Todo en un solo lugar</h2>
          <p>Nuestra plataforma te ayuda a gestionar tu<br>
        endeudamiento entregándote un diagnóstico para<br>
        optimizar tu situación. Además te ayuda a controlar<br>
        tus gastos y encontrar un espacio para el ahorro.<br>
          </p>
        </div>
      </div>
      <div class="service-offer-item item-chatbot" data-aos="fade-right" data-aos-duration="1500">
        <div>
          <h2>Con Luca$, tendrás <br>atención personalizada
          </h2>
          <p>Nuestro <em>chatbot</em> te ayudará a resolver dudas y te<br>
          orientará sobre productos y procesos financieros.
          </p>
        </div>
        <figure>
          <img src="assets/images/home/te-apoyo-finanzas-chatbot.svg" alt="Te apoyo finanzas chatbot">
        </figure>
      </div>
      <div class="service-offer-item item-aula-virtual" data-aos="fade-left" data-aos-duration="1500">
        <div>
          <h2>Aula virtual</h2>
          <p>Te ofrecemos la más completa aula virtual de<br>
          educación financiera con 7 <em>cursos</em> sobre productos y<br>
          finanzas personales para tus colaboradores y sus<br>
          familias.
          </p>
        </div>
        <figure>
          <img src="assets/images/home/te-apoyo-finanzas-aula-virtual.svg" alt="Te apoyo finanzas aula virtual">
        </figure>
      </div>
    </div>
  </section>
</div>

<div class="business-box">
  <h3 data-aos="fade-right" data-aos-duration="1500">Más de 1000 colaboradores nos respaldan</h3>
  <p>Tomar decisiones financieras inteligentes en el presente es la clave para construir<br>
  un futuro financiero sólido y exitoso. No lo dudes y prueba nuestra plataforma.</p>

  <div class="slider-business" data-aos="fade-zoom-in" data-aos-duration="1500">
    <div class="slider-business-item">
      <img src="assets/images/home/te-apoyo-finanzas-coca-cola.png" alt="te apoyo finanzas coca-cola">
    </div>
    <div class="slider-business-item">
      <img src="assets/images/home/te-apoyo-finanzas-lider.png" alt="te apoyo finanzas lider">
    </div>
    <div class="slider-business-item">
      <img src="assets/images/home/te-apoyo-finanzas-sodimac.png" alt="te apoyo finanzas sodimac">
    </div>
    <div class="slider-business-item">
      <img src="assets/images/home/te-apoyo-finanzas-falabella.png" alt="te apoyo finanzas falabella">
    </div>
  </div>
  <div class="slider-controls">
    <div class="custom-prev-arrow">
      <img src="assets/images/home/prev.svg" alt="">
    </div>
    <div class="custom-next-arrow">
      <img src="assets/images/home/next.svg" alt="">
    </div>
  </div>
</div>