<div class="our-journey-section">
  <div class="our-journey-info">
    <h1 data-aos="fade-up" data-aos-duration="1500">Nuestra <span class="our-journey-title-gradient">trayectoria</span> </h1>
    <div class="our-journey-info-p">
      <p>Te Apoyo es un proyecto que nació de la mente de dos expertos en banca quienes pudieron identificar una <br>
        gran problemática que sigue bastante presente en Latinoamérica: la falta de educación financiera en la <br>
        población. </p>
      <p>Erradicar esta realidad se volvió todo un reto para sus fundadores y dió pie a un sueño que se construye y <br>
      va tomando forma gracias a todas las organizaciones que creen en el poder de tomar decisiones más <br>
      informadas y compartir herramientas de valor para lograr una comunidad más en control de su bienestar <br>
      financiero. </p>
    </div>
  </div>

  <div class="our-journey-box-center">
    <div class="our-journey-box">
      <div class="our-journey-item" data-aos="fade-left" data-aos-duration="1500">
        <h3>Certificados</h3>
        <div class="our-journey-item-content">
          <div class="our-journey-item-img">
            <img src="assets/images/about-us/microsoft-partner.png" alt="Te apoyo finanzas, microsoft partner">
          </div>
          <p>Nuestra empresa desarrolló su plataforma en la nube de Microsoft para que te sientas seguridad de tu infromacion</p>
        </div>
      </div>
  
      <div class="arrows-item" data-aos="fade-right" data-aos-duration="1500">
        <img src="assets/images/about-us/arrow-1.svg" alt="">
        <p>Postulamos nuestro proyecto a diferentes iniciativas</p>
        <img class="arrow-2" src="assets/images/about-us/arrow-2.svg" alt="">
      </div>
  
      <div class="our-journey-item" data-aos="fade-left" data-aos-duration="1500">
        <h3>Aceleradora</h3>
        <div class="our-journey-item-content">
          <div class="our-journey-item-img">
            <img src="assets/images/about-us/aster.png" alt="Te apoyo finanzas, Aster">
          </div>
          <p>La aceleradora Aster del Norte Grande.</p>
        </div>
      </div>
  
      <div class="arrows-item arrows-item-2" data-aos="fade-right" data-aos-duration="1500">
        <p>en conjunto con</p>
        <img class="arrow-3" src="assets/images/about-us/arrow-3.svg" alt="">
      </div>
  
      <div class="our-journey-item" data-aos="fade-left" data-aos-duration="1500">
        <h3>Incubadora</h3>
        <div class="our-journey-item-content">
          <div class="our-journey-item-img">
            <img src="assets/images/about-us/kalpa.png" alt="te apoyo finanzas, KALPA">
          </div>
          <p>El proyecto KALPA es un programa pionero de incubación digital complementado respaldada con el apoyo de ASTER.</p>
        </div>
      </div>
  
      <div class="arrows-item arrows-item-3" data-aos="fade-right" data-aos-duration="1500">
        <p>Fuimos parte de</p>
        <img class="arrow-4" src="assets/images/about-us/arrow-4.svg" alt="">
      </div>
  
      <div class="our-journey-item" data-aos="fade-left" data-aos-duration="1500">
        <h3>Finalistas en concurso</h3>
        <div class="our-journey-item-content">
          <div class="our-journey-item-img">
            <img src="assets/images/about-us/lif.png" alt="Te apoyo finanzas, Laboratorio de Inclusión Financiera de CAF">
          </div>
          <p>Laboratorio de Inclusión Financiera de CAF para América Latina y el Caribe</p>
        </div>
      </div>
  
      <div class="our-journey-item" data-aos="fade-right" data-aos-duration="1500">
        <div class="our-journey-item-content">
          <div class="our-journey-item-img">
            <img src="assets/images/about-us/finte-chile.png" alt="Te apoyo finanzas, FinterChile">
          </div>
          <p>Somos miembros de la Asociación de Fintech de Chile (FinteChile) lo que nos permite acceso al ecosistema tecnológico financiero, sus miembros, conocimientos y herramientas importantes para expandir nuestro proyecto.</p>
        </div>
      </div>
  
      <div class="arrows-item arrows-item-4" data-aos="fade-left" data-aos-duration="1500">
        <p>¿Donde estamos?</p>
        <img class="arrow-5" src="assets/images/about-us/arrow-5.svg" alt="">
      </div>
    </div>
  </div>
</div>