<div class="contact-section-bg">
  <div class="contact-section-center base-container">
    <div class="contact-section">
      <div class="contact-info" data-aos="fade-left" data-aos-duration="1500">
        <h1>Contáctanos</h1>
        <p>Si tienes alguna duda, comentario o sugerencia, puedes contactarnos y nos comunicaremos contigo lo antes posible</p>
        <img src="assets/images/personal/contact-us.svg" alt="" data-aos="fade-right" data-aos-duration="1500">
      </div>
      <app-contact-form></app-contact-form>
    </div>
  </div>
</div>