<div class="platform-section base-container">
  <h1>Conoce nuestra plataforma</h1>
  <div class="platform-box">
    <div class="platform-item">
      <img src="assets/images/personal/aula-virtual.png" alt="" data-aos="fade-left" data-aos-duration="1500">
      <div class="platform-item-text">
        <h2>Aula virtual de educación financiera</h2>
        <p>Con 7 cursos de finanzas personales, para el colaborador para facilitar tu conocimiento y habilidades.</p>
      </div>
    </div>
    <div class="platform-item">
      <img src="assets/images/personal/dashboard.png" alt="" data-aos="fade-right" data-aos-duration="1500">
      <div class="platform-item-text">
        <h2>Dashboard personalizado</h2>
        <p>Toma el control de tus gastos lleva un registro  mensual organizado y encuentra tu oportunidad de ahorro. </p>
      </div>
    </div>
    <div class="platform-item">
      <img src="assets/images/personal/carga-financiera.png" alt="" data-aos="fade-left" data-aos-duration="1500">
      <div class="platform-item-text">
        <h2>Reduce tu endeudamiento</h2>
        <p>Te ayuda a gestionar tu endeudamiento, entregándote un diagnóstico y un paso a paso para optimizar tu situación.</p>
      </div>
    </div>
  </div>
</div>