
<div class="top-section-bg">
  <div class="base-container">
    <div class="top-section">
      <div class="top-section-title">
        <h1 data-aos="fade-left" data-aos-duration="1500">Te apoyo es ideal</h1>
        <img src="assets/images/personal/banner.svg" alt="" data-aos="fade-down" data-aos-duration="1500">
      </div>
      <div class="top-section-info">
        <p>Para personas que buscan mejorar su calidad de vida a través del bienestar financiero</p>
        <p>Gestionar y optimizar tu situación financiera de manera estratégica.</p>
        <p>Continuar aprendiendo mientras te ayudamos alcanzar tus objetivos personales o profesionales.</p>
      </div>
    </div>
  </div>
</div>