<div class="test-bg">
  <div class="test-section base-container">
    <div class="test-section-msg">
      <div class="test-section-title">
        <h2>¡Aquí empieza tu test de personalidad financiera gratis! </h2><span>🥳</span>
      </div>
      <p>
        Antes de comenzar, nos gustaría hacerte algunas preguntas para ayudarnos a comprender tus objetivos y necesidades financieras.
      </p>
    </div>
  
    <div class="test-box">
      <div class="test-item-shadow" data-aos="fade-left" data-aos-duration="1500">
        <div class="test-item">
          <img src="assets/images/test/completa-el-test.svg" alt="">
          <div class="test-item-text first">
            <h3>Completa el test</h3>
            <p>Responde a las 7 preguntas. No te tomará más de 10 minutos.</p>
          </div>
        </div>
      </div>
      <div class="test-item-shadow" data-aos="fade-right" data-aos-duration="1500">
        <div class="test-item">
          <img src="assets/images/test/responde-con-honestidad.svg" alt="">
            <div class="test-item-text">
              <h3>Responde con honestidad</h3>
              <p>Aún si no te gusta la respuesta. Es importante para poder darte los resultados de manera precisa.</p>
          </div>
        </div>
      </div>
      <div class="test-item-shadow" data-aos="fade-left" data-aos-duration="1500">
        <div class="test-item">
          <img src="assets/images/test/desbloquea-tu-potencial.svg" alt="">
          <div class="test-item-text">
            <h3>Desbloquea tu potencial</h3>
            <p>Descubre tu personalidad y te ayudaremos a descubrir qué herramientas son las mejores para ti.</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="test-questions">
      <div class="test-progress-container">
        <span>0%</span>
        <div class="test-progress">
        </div>
      </div>
      <div class="test-questions-item">
        <span>Pregunta 01</span>
        <p>Por favor, selecciona la afirmación que mejor describe tu situación financiera</p>
        <ol>
          <li>Estoy comenzando y buscando construir mi base financiera.</li>
          <li>Me siento cómodo con mis finanzas, pero busco hacer crecer mi patrimonio.</li>
          <li>Estoy planeando mi retiro y buscando asegurar mi futuro financiero.</li>
          <li>Estoy enfrentando dificultades financieras y busco ayuda para administrar mis deudas.</li>
        </ol>
        <div class="btn-next">
          <img src="assets/images/test/arrow-btn.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>