
<footer class="footer">
  <div>
    <img src="assets/images/logo-white.png" alt="Logo 'Te Apoyo' finanzas personales">
  </div>
  <div class="footer-content">
    <div class="footer-menu">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/personal">Personal</a></li>
        <li><a href="/empresarial">Empresarial</a></li>
        <li><a href="/planes">Planes</a></li>
        <li><a href="/recursos">Recursos</a></li>
      </ul>
    </div>
    <div class="footer-info-offices">
      <h4>Nuestras oficinas</h4>
      <div class="footer-info-offices-item">
        <h5>Oficina Santiago</h5>
        <p>Manuel Barros Borgoño 110 oficina 906, Providencia, Santiago.</p>
      </div>
      <div class="footer-info-offices-item">
        <h5>Oficina Antofagasta</h5>
        <p>Baquedano 50 oficina 709, Antofagasta.</p>
      </div>
      <div class="footer-info-times">
        <h4>Horario de atención</h4>
        <p>09:00 a 18:00 hrs.</p>
      </div>
    </div>
    <div class="footer-socials">
      <h4>Síguenos en:</h4>
      <ul>
        <li>
          <a href="">
            <img src="assets/images/facebook.svg" alt="">
          </a>
        </li>
        <li class="footer-instagram">
          <a href="">
            <img src="assets/images/instagram.svg" alt="">
          </a>
        </li>
        <li>
          <a href="">
            <img src="assets/images/linkedin.svg" alt="">
          </a>
        </li>
        <li>
          <a href="">
            <img src="assets/images/whatsapp.svg" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>