<div class="banner-container base-container">
  <div class="banner-box">
    <div class="banner-text">
      <h1 data-aos="fade-left" data-aos-duration="1500">
        ¡Potencia el <span class="title-gradient">talento</span> <br><span class="title-gradient">financiero</span> de tu empresa con Te Apoyo!
      </h1>
      <p>Nuestra plataforma permitirá a tu equipo tomar decisiones más informadas para lograr el bienestar financiero e impulsar el éxito de tu empresa 💪 </p>
    </div>
    <div class="banner-companies">
      <p>Muchos confían en nosotros</p>
      <div class="banner-companies-img">
        <img src="assets/images/about-us/microsoft-partner.png" alt="empresas que confían en Te apoyo">
        <img src="assets/images/about-us/kalpa.png" alt="empresas que confían en Te apoyo">
        <img src="assets/images/about-us/aster.png" alt="empresas que confían en Te apoyo">
        <img src="assets/images/about-us/lif.png" alt="empresas que confían en Te apoyo">
      </div>
      <a href="" class="btn-banner">Conócenos</a>
    </div>
  </div>
  <div>
    <img src="assets/images/business/hero.svg" alt="" data-aos="fade-down" data-aos-duration="1500" class="banner-img">
  </div>
</div>