<div class="base-container">
  <div class="planes-section">
    <h1>Conoce los <span class="title-gradient" data-aos="fade-up" data-aos-duration="1500">planes</span> que tenemos <br> para ti</h1>
  
    <div class="planes-section-box">
      <div class="planes-section-item" data-aos="fade-left" data-aos-duration="1500">
        <div class="planes-section-content">
          <h3>Gratuito</h3>
          <img src="assets/images/personal/iconoir_donate.svg" alt="">
          <ul>
            <li>✓ Acceso a nuestro recursos.</li>
            <li>✓ Acceso a nuestra plataforma digital.</li>
            <li>✓ Acceso a 1 curso de nuestra Aula virtual.</li>
          </ul>
        </div>
        <a href="" class="btn-planes">
          <span>Prueba gratis</span>
        </a>
      </div>
      <div class="planes-section-item" data-aos="fade-right" data-aos-duration="1500">
        <div class="planes-section-content">
          <h3>Individual</h3>
          <div class="planes-section-item-price">
            <img src="assets/images/personal/iconoir_user-star.svg" alt="">
            <p><span>$4.990</span>/ al mes</p>
          </div>
          <ul>
            <li>✓ Acceso ilimitado a nuestros a recursos.</li>
            <li>✓ Acceso a nuestra plataforma digital.</li>
            <li>✓ Acceso a nuestra Aula virtual.</li>
            <li>✓ Acceso a nuestra chat bot Luca$.</li>
            <li>✓ Evaluación perfil  financiero.</li>
          </ul>
        </div>
        <a href="" class="btn-planes">
          <span>Prueba gratis</span>
        </a>
      </div>
    </div>
  
    <div class="team-work-box">
      <h2>¿Tienes un equipo de trabajo?</h2>
      <p>Obtenga más información sobre el uso de <a href="#" class="underline">Te apoyo empresarial</a> o visite nuestra <a href="#" class="underline">página de planes</a> para ver nuestra lista completa de funciones para equipos y empresas.</p>
    </div>
  </div>
</div>