

.planes-section{
  padding: 135px 0 65px 0px;
}

.planes-section h1{
  max-width: max-content;
  font-weight: 800;
  font-size: 60px;
  margin-bottom: 24px;
}

.planes-section .title-gradient{
  background: var(--title-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.planes-section-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 230px;
}

.planes-section-item{
  width: 100%;
  max-width: 413px;
  height: 322px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 36px 23px;
  border-radius: 20px;
  border: solid 1px transparent;
  background-image: var(--gradient);
  background-origin: border-box;
  background-clip: border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}

.planes-section-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.planes-section-item h3{
  font-weight: 700;
  font-size: 24px;
  background: linear-gradient(272.83deg, rgba(50, 157, 113, 0.9) 0%, #2C939E 21.46%, #2C939E 76.14%, #2E5C9C 100%, rgba(46, 92, 156, 0.8) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.planes-section-item img{
  width: 40px;
}

.planes-section-item ul{
  list-style: none;
}

.planes-section-item ul li{
  color: var(--light);
  font-size: 16px;
  font-weight: 400;
}

.planes-section-item-price{
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.planes-section-item-price p{
  color: #000;
  font-size: 24px;
  font-weight: 400;
}

.planes-section-item-price span{
  background: var(--title-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.btn-planes {
  border-radius: 8px;
  display: inline-block;
  text-decoration: none;
  width: 182px;
  text-align: center;
  padding: 10px 14px;
  color: var(--black);
  border: solid 2px transparent;
  background-image: var(--gradient);
  background-origin: border-box;
  background-clip: border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}


.btn-planes span{
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team-work-box{
  width: 90%;
  max-width: 1043px;
  margin: 0 auto;
  margin-top: 100px;
}

.team-work-box h2{
  color: var(--black);
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 16px;
}

.team-work-box{
  color: var(--light);
  font-size: 25px;
  font-weight: 500;
}

.team-work-box .underline{
  color: var(--black);
  text-decoration-line: underline;
}

@media screen and (max-width: 1100px) {
  .planes-section-box{
    gap: 24px;
  }
}