.courses-bg{
  background-color: var(--gray);
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
}

.courses-container {
  padding: 95px 0;
}

.courses-container h1{
  font-weight: 700;
  font-size: 48px;
  background: linear-gradient(272.83deg, rgba(50, 157, 113, 0.9) 0%, #2C939E 21.46%, #2C939E 76.14%, #2E5C9C 100%, rgba(46, 92, 156, 0.8) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 16px;
}

.courses-container p.courses-info{
  max-width: 845px;
  color: var(--light);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 55px;
}

.courses-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 72px;
}

.courses-item{
  display: flex;
  flex-direction: column;
  padding: 16px;
  min-height: 402px;
  width: 100%;
  max-width: 360px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.courses-item-img{
  position: relative;
}

.course-plan{
  position: absolute;
  color: var(--black);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.50);
  padding: 8px 16px;
  top: 18px;
  left: 15px;
  display: block;
}

.courses-item h3, .courses-item p{
  color: var(--brand-color);
}

.courses-item h3{
  font-size: 18px;
  font-weight: 600;
}

.courses-item p{
  font-size: 16px;
  font-weight: 400;
}

.course-content{
  gap: 8px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.courses-description ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses-description ul li{
  color: var(--light);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.btn-course{
  border-radius: 4px;
  border: 1px solid var(--Gradiente, rgba(50, 157, 113, 0.90));
  background: linear-gradient(273deg, rgba(50, 157, 113, 0.90) 0%, #2C939E 21.46%, #2C939E 76.14%, #2E5C9C 100%, rgba(46, 92, 156, 0.80) 100%);
  display: flex;
  padding: 12px 32px;
  color: var(--white);
  text-decoration: none;
  width: max-content;
  display: block;
  margin: 0 auto;
  margin-top: 26px;
}


@media screen and (max-width: 1100px) {
  .courses-bg {
    clip-path: polygon(0 0, 100% 3%, 100% 100%, 0% 100%);
  }
  .courses-box{
    gap: 24px;
  }
  
}